*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  color:#fff;
  font-family: "Montserrat";
  overflow: hidden;
}


.clearfix::after{
  content: "";
  display: table;
  clear:both;
}

.float{
  float: left;
}

a{
  text-decoration: none;
  color:#fff;
}

ul{
  list-style-type: none;
}

.verticalnav, .fixedheader, footer{
  position: fixed;
}

/* verticalnav */

.verticalnav{
  width: 230px;
  height: 100%;
  min-height: calc(100vh - 90px);
  background-color: #000;
  z-index: 1;
  padding:1.5% 1% 0 1.5%;
}

.upnav, .playlist, .nomeplaylist, .download{
  margin-bottom: 7%;
}

.upnav{
  font-size: 12px;
}

#logo{
  width: 65%;
  margin-bottom:6%;
}

#minilogo{
  display: none;
}

.navimg{
  width:13%;
  vertical-align: middle;
}

#home{
  line-height: 3;
}

#home>li, .playlistspan, .nomeplaylist>ul li, .download>h6, .download>i, .list> ul li, p, .leftplayer>li>i{
  opacity: 0.4;
}

#home>li:nth-child(1){
  opacity: 0.7;
}

#home>li:hover, .playlistspan:hover, .nomeplaylist>ul li:hover, .download>h6:hover, .download>i:hover, .list> ul li:hover, .leftplayer>li>i:hover{
  opacity: 1;
}


/* playlist */

.overflow{
  overflow-y: scroll;
  height: calc(100vh - 400px);
}

.playlist>h4{
  font-size: 14px;
}

#quadratino{
  width:40px;
  height:40px;
  background-color: #c0c0c0;
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadratino{
  padding: 6% 4% 25% 0;
}

.playlistspan{
  margin: 5.5% 0 0 4%;
}

.fa-plus{
  font-size: 20px;
}

/* nomeplaylist */

.nomeplaylist>ul li{
  line-height: 3;
  font-size: 12px;
}

/* download */

.download{
  margin-top: 20%;
  border-bottom: 1px solid #fff;
}

.fa-arrow-down{
  font-size: 7px;
  border: solid 1px #fff;
  border-radius: 100%;
  padding:1%;
  margin-right: 4%;
}

.app{
  margin-bottom: 5%;
}
.roundimg{
  background-color: #acacac;
  color:#fff;
  border-radius: 100%;
  width:12%;
}

.John{
  margin: 2% 0 0 4%;
  font-size: 13px;
}


/* sezione centrale */
.mainsection{
  width: calc(100% - 230px);
  background-color: #141922;
  margin-left: 230px;
  margin-bottom: 80px;

}

.scroll{
  overflow-y: scroll;
  height: calc(100vh - 90px);
}
/* header fixed */

.fixedheader{
  width:100%;
  height: 90px;
  background-color: rgb(0,0,0,0.4);
  z-index: 1;
}

input{
  background-color: transparent;
  color:#fff;
  opacity: 1;
  border:1px solid #fff;
  border-radius: 50px;
  padding: 0.9% 2.5%;
  margin-top: 20px;
  margin-left: 65%;
}


/* main content recently played*/

.recentlyplayed, .johndoe, .artisti{
  padding: 2% 0 2% 2%;
}

.recentlyplayed, .overlayicon{
  position: relative;
}

.list> ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 110px;
}

.list> ul li{
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
  font-size: 13px;
}

img{
  width: 100%;
  position: relative;
}

.recentlyplayed>h2{
  margin-bottom: 2%;
}

h3{
  font-size: 15px;
  font-weight: bold;
  margin: 8% 0 6% 0;
}

p{
  font-size: 12px;
}


/*flex recently played johndoe artisti */

.flex{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 2%;
}

.flex>li{
  margin-right: 2%;
  width: calc((100% -2%)/6);
}

h2{
  margin-bottom: 1%;
}

.overlay{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: .1s ease;
  background-color: rgb(0,0,0,0.4);
}

.overlayicon:hover .overlay {
  opacity: 1;
}

.overlay>a>.fa-play-circle{
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



/* artistipopolari */

.imgartist{
  border-radius: 100%;
}


/* footer */

footer{
  width: 100%;
  height: 90px;
  background-color:#282828;
  z-index: 2;
  bottom:0;
  align-items: center;
}

/* sezione player */


.playerblock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* leftplayer */

.leftplayer{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
}

.leftplayer>li{
  margin-right:4%;
}

#thumb{
  width: 45px;
}

.script{
  font-size: 10px;
}

#left{
  width:15%;
  margin: 1.5% 1%;
}

.scriptli{
  padding-right: 12%;
}

.scriptli>h6:hover{
  text-decoration: underline;
}

.scriptli>p:hover{
  text-decoration: underline;
  opacity: 1;
}

/* central player */

.player{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.player>li{
  margin-right: 4%;
}

.fa-play-circle{
  font-size: 30px;
}

.centralplayer{
  margin: 2% 0 2.5% 0;
}

.number{
  font-size: 10px;
}

#line{
  width: 500px;
  margin: 0 2%;
}

#lineinline{
  width:100px;
  background-color: rgb(255,255,255, 0.8);
  border-radius: 50px;
  height: 100%;
  position: relative;
}

#line, #linea{
  background-color:rgb(255,255,255, 0.4);
  height:4px;
  border-radius: 50px;
}

/* rightplayer */

.rightplayer{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: center;
}

.rightplayer>li{
  margin-left: 6%;
}

.rightplayer> li i{
  font-size: 12px;
}

#right{
  width:15%;
  margin: 2.5% 1%;
}

#linea{
  width:130px;
  margin:3% 2% 0 2%;
}

#lineainlinea{
  width:20px;
  background-color: rgb(255,255,255, 0.8);
  border-radius: 50px;
  height: 100%;
  position: relative;
}



@media all and (max-width: 767px){
  .verticalnav{
    width:50px;
    height: calc(100vh - 100px);
  }

  #logo{
    display: none;
  }

  .navimg{
    width:80%;
  }

  .xs {
    display:none;
  }

  .overflow{
    overflow-y: hidden;
  }

  .download{
    border-bottom: none;
  }

  .fa-arrow-down{
    font-size: 10px;
    margin-top: 58vh;
    margin-bottom: 40%;
    margin-left: 25%;
  }

  .roundimg{
    width: 60%;
    margin-left: 10%;
  }


  #minilogo{
    display: block;
    font-size: 30px;
  }

  /* main section */

  .mainsection{
    width: calc(100% - 50px);
    background-color: #141922;
    margin-left: 50px;
    margin-bottom: 80px;
  }

  input{
    margin-left: 50%;
  }

  /* lista in evidenza */
  .list> ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 110px;
  }

  .list> ul li{
    display: flex;
    justify-content: space-around;
    margin: 0 0 4% 4%;
    font-size: 13px;
  }

  /* mainsection */

  .flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4%;
  }

  .flex>li{
    margin-right: 2%;
    width: calc((100% -2%)/3);
  }


  h2, p{
    margin:0 0 1% 15%;
  }

  .script{
    margin-bottom: 4%;
  }

  /* footer */

  #line{
    width: 180px;
  }

  #linea{
    width: 90px;
  }

  .leftplayer, .rightplayer{
    margin-top: 10%;
  }

  .player{
    padding: 2% 0;
  }

}

@media all and (min-width: 768px) and (max-width: 991px){
  .verticalnav{
    width:230px;
    height: calc(100vh - 200px);
  }

  /* .nomeplaylist>ul{
    overflow-y: scroll;
    height:250px;
  } */

  .download{
    margin-top: 20%;
  }

  input{
    margin-left: 40%;
  }

  .list> ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 110px;
  }

  .list> ul li{
    display: flex;
    justify-content: space-around;
    margin: 0 0 4% 6%;
    font-size: 13px;
  }


  .flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4%;
  }

  .flex>li{
    margin-right: 2%;
    width: calc((100% -2%)/5);
  }

  p{
    margin-bottom: 4%;
  }

  #line{
    width: 300px;
    margin: 0 2%;
  }


}

@media all and (min-width: 992px) and (max-width: 1199px){
  input{
    margin-left: 50%;
  }

  .download{
    padding-top: 4%;
  }
}

@media all and (min-width: 1200px){

}
