*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border{
  border: solid 1px #fff;
  margin-bottom: 2%;
  width: auto;
}

body{
  color:#fff;
  font-family: "Montserrat";
}

.clearfix::after{
  content: "";
  display: table;
  clear:both;
}

.float{
  float: left;
}

a{
  text-decoration: none;
  color:#fff;
}

ul{
  list-style-type: none;
}

.verticalnav, .fixedheader, footer{
  position: fixed;
}

/* verticalnav */

.verticalnav{
  width: 230px;
  height: 100%;
  min-height: calc(100vh - 90px);
  background-color: #000;
  z-index: 1;
  padding-top:1%;
}

.upnav, .playlist, .nomeplaylist, .download{
  margin-bottom: 7%;
}

.upnav{
  font-size: 12px;
}

#logo{
  width: 65%;
  margin-bottom:6%;
}

.navimg{
  width:11%;
  vertical-align: middle;
}

#home{
  line-height: 3;
}

#homeli{
  border-left: 2px solid #ACCF5B;
  padding-left: 4%;
}

/* playlist */

.playlist>h4{
  font-size: 14px;
}

#quadratino{
  width:40px;
  height:40px;
  background-color: #c0c0c0;
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quadratino{
  padding: 4% 4% 20% 0;
}

.playlistspan{
  margin: 4.5% 0 0 4%;
}

.fa-plus{
  font-size: 20px;
}

/* nomeplaylist */

.nomeplaylist>ul li{
  line-height: 3;
  font-size: 12px;
}

/* download */

.download{
  padding-top: 10%;
  border-bottom: 1px solid #fff;
}

.fa-arrow-down{
  font-size: 7px;
  border: solid 1px #fff;
  border-radius: 100%;
  padding:1%;
  margin-right: 4%;
}

.app{
  margin-bottom: 5%;
}
.roundimg{
  background-color: #c0c0c0;
  color:#fff;
  border-radius: 100%;
  width:10%;
}

.John{
  margin: 2% 0 0 2%;
  font-size: 13px;
}



/* sezione centrale */
.mainsection{
  width: calc(100% - 230px);
  background-color: #141922;
  margin-left: 230px;
  margin-bottom: 90px;
}

/* header fixed */

.fixedheader{
  width:100%;
  height: 90px;
  background-color: #000;
  z-index: 1;
}

input{
  background-color: transparent;
  color:#fff;
  border:1px solid #fff;
  border-radius: 50px;
  padding: 0.9% 2.5%;
  margin-top: 20px;
  margin-left: 70%;
}


/* main content */

.recentlyplayed, .johndoe, .artisti{
  margin-left: 1%;
}

.list> ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 110px;
}

.list> ul li{
  display: flex;
  justify-content: space-around;
  margin-left: 2%;
  opacity: 0.4;
  font-size: 13px;
}


/*recentlyplayed */


.listplayed>ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.listplayed>ul>li{
  margin-right: 2%;
}


img{
  width: 100%;
}

/* creato per john */


.flex>ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex>ul>li{
  margin-right: 2%;
}

/* artistipopolari */

.imgartist{
  border-radius: 100%;
}


/* footer */

footer{
  height: 90px;
  background-color:#282828;
  width:100%;
  z-index: 2;
  bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* sezione sinitra player */

.leftplayer{
  margin: 0.5% 4% 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.thumbplayer{
  width:100%;
  height: 45px;
  margin-right: 4%;
}

#thumb{
  width: 45px;
}

.iconfolder{
  width: 20px;
}

/* sezione player */

.player{
  margin-left: 15%;
}

.playerul{
  width: auto;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playerul> li{
  margin-right: 4%;
}


.playerline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#line{
  width: 400px;
  margin: 1.5% 2%;
}

#line, #linea{
  border: 2px solid #ffff;
  opacity:0.5;
  height:0;
  border-radius: 50px;
}

#linea{
  width:130px;
  margin:3% 2% 0 2%;
}

/* sezione player right */

.rightplayer{
  margin: 0.5% 0.5% 0 10%;
  width:15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divplayerright{
  width: 100%;
  height: 20px;
}

.ulplayerright{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ulplayerright> li{
  margin-right: 8%;
}
